{% extends 'layout.njk' %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <form action="/teachers" method="get">
                <input type="text"
                       name="filter"
                       value= "{{filter}}"
                       placeholder="Name or Knowledge">
                    <button type="submit">Filter</button>
            </form>
        <a class="new" href="/teachers/create">New teacher</a>

        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Full name</th>
                    <th>Knowledges</th>
                    <th>Students</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                    <tr>
                        <td>
                            <span style="background-image: url({{teacher.avatar_url}})"></span>
                            {{teacher.name}}
                            <br>
                        </td>
                        <td>
                            {{teacher.knowledge}}
                        </td>
                        <td>
                            {{teacher.total_students}}
                        </td>
                        <td>
                            <a href="/teachers/{{teacher.id}}">View</a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock content %}