{% extends 'layout.njk' %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class='image-container'></section>
        <section class='details'>

        <h3>New teachers</h3>

        {%include 'teachers/fields.njk'%}
        <div class="btn-save">
                        <button type="submit">Save</button>
                    </div>
        </section>

    </form>
{% endblock content %}