{% extends 'layout.njk' %}

{% block header %}
                <a href="/teachers/create">Sign Up</a>
{% endblock header %}

{% block content %}
<div class="card">
    <section class='image-container'></section>
    <section class='details'>
        <h3>Detalhes</h3>
        <div class="item">
            <div>Nome</div>
            <div>Moacir A. Da Silva Junior</div>
        </div>
        <div class="item">
            <div>Idade</div>
            <div>21</div>
        </div>
        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>Doutorado</div>
        </div>
        <div class="item">
            <div>Tipo de Aula</div>
            <div>EAD</div>
        </div>
        <div class="item">
            <div>Acompanhamentos</div>
            <div>
            <span>Informatica</span>
            <span>Matematica</span>
            <span>Programação</span>
            </div>
        </div>
        <div class="item">
            <div>Desde</div>
            <div>Janeiro 2020</div>
        </div>
    </section>

</div>
{% endblock content %}