{% extends 'layout.njk' %}

{% block header %}
    <a href="/teachers/create">Sign Up</a>
{% endblock header %}

{% block content %}
    <div class="card">
        <section class='image-container' style="background: url({{teacher.avatar_url}}) no-repeat center center / cover;"></section>
        <section class='details'>
            <h3>Details</h3>
            <div class="item">
                <div>Name</div>
                <div>{{teacher.name}}</div>
            </div>
            <div class="item">
                <div>Age</div>
                <div>{{teacher.birth}}</div>
            </div>
            <div class="item">
                <div>Education level</div>
                <div>{{teacher.degree}}</div>
            </div>
            <div class="item">
                <div>Classroom</div>
                <div>{{teacher.classroom}}</div>
            </div>
            <div class="item">
                <div>knowledge</div>
                <div>
                    {% for lesson in teacher.knowledge %}
                        <span>{{lesson}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">
                <div>Sign In</div>
                <div>{{teacher.created_at}}</div>
            </div>
            <div class="btn-edit">
                <a id="btn-edit" href="/teachers/{{teacher.id}}/edit">Edit</a>
            </div>
        </section>

    </div>
{% endblock content %}